<h1>Bản đồ</h1>

<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
          <div class="title_dich_vu">Gửi mail cho chúng tôi</div><br>
          <form class="clearfix mt50" role="form" onsubmit="return send_lienhe(this)" method="post" action="#" name="frmContact" id="frmContact">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="name" accesskey="U"><span class="required">*</span> Họ và tên</label>
                    <input name="name" type="text" id="name" class="form-control" value="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="email" accesskey="E"><span class="required">*</span> E-mail</label>
                    <input name="email" type="text" id="email" value="" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="subject" accesskey="S"><span class="required">*</span> Tiêu đề</label>
                <input name="title" type="text" id="title" value="" class="form-control">
              </div>
              <div class="form-group">
                <label for="comments" accesskey="C"><span class="required">*</span> Nội dung</label>
                <textarea name="message" rows="9" id="message" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label><span class="required">*</span> Captcha </label>		  
                    <img src="http://www.hoangtrangdanang.com/z_modules/random_image.php" style="margin-bottom:5px">
                    <input name="ma_xac_nhan" type="text" id="ma_xac_nhan" value="" class="form-control" onchange="check_mxn()">
                <div id="load_ma_xac_nhan"><input type="hidden" name="check_ma_xac_nhan" id="check_ma_xac_nhan"></div>
              </div>
              <button type="submit" class="btn btn-success">GỞI</button>
            </form>
      </div>
      <div class="col-md-4">
          <div class="title_dich_vu">Liên hệ</div><br>
          <span style="font-size:16px"><span style="color:rgb(102, 153, 0)"><strong>GARA Ô TÔ HOÀNG TRANG</strong></span></span><br>
          <br>
          <span style="font-size:14px">♦&nbsp;Địa chỉ: Lô 1260-1261-1262 Xô Viết Nghệ Tĩnh, Phường Hòa Cường Nam, Quận Hải Châu, TP. Đà Nẵng<br>
          ♦&nbsp;Điện thoại: 0905 312 333 - 0945 312 333<br>
          ♦&nbsp;Email: hoangtrang.danang@gmail.com</span> 
      </div>
    </div>

  </div>
</section>
