<section class="section">
    <div class="container">
      <div class="row"> 
          <div class="col-sm-12">
            <div class="title_dich_vu">Giới thiệu</div>
          </div>
      </div>
      <div class="row">
            <div class="col-md-12"><div style="text-align: justify;"><strong>Gara Ô Tô Hoàng Trang</strong>&nbsp;là Gara uy tín chuyên bảo hành, bảo dưỡng xe, sửa chữa xe các loại, cứu hộ 24/24,... uy tín chất lượng cao.&nbsp;Khi đến đây bạn có thể hoàn toàn yên tâm về chất lượng cũng như dịch vụ vô cùng uy tín và chất lượng của chúng tôi.</div>

<div style="text-align: center;"><img alt="" src="http://hoangtrangdanang.com/uploads/image/images/IMG_1856%20(FILEminimizer)(1).JPG" style="height:278px; opacity:0.9; text-align:center; width:500px">&nbsp;&nbsp;<img alt="" src="http://hoangtrangdanang.com/uploads/image/images/IMG_0004.JPG" style="height:278px; text-align:center; width:494px"></div>

<div style="text-align: justify;"><br>
Với cơ sở vật chất khang trang hiện đại, đội ngũ kỹ sư lành nghề và trung tâm bảo dưỡng, sữa chữa, tân trang và phục hồi ô tô chuyên nghiệp theo tiêu chuẩn hãng&nbsp;chắc chắn sẽ làm hài lòng mọi khách hàng khó tính nhất...Bên cạnh đó, với đội ngũ kỹ sư, công nhân viên giỏi với trình độ tay nghề cao,&nbsp;<strong>Gara Ô Tô Hoàng Trang</strong>&nbsp;chúng tôi hân hạnh mang đến cho bạn một địa chỉ sửa chữa ô tô tiêu chuẩn hàng đầu.&nbsp;</div>

<div style="text-align: justify;"><br>
Bạn đang băn khoăn cần tìm đến một trung tâm bảo dưỡng ô tô tại Đà Nẵng?&nbsp;<strong>Gara ô tô Hoàng Trang&nbsp;</strong>là sự lựa chọn vô cùng sáng suốt cho bạn và “xế yêu” của bạn.<br>
&nbsp;</div>

<div style="text-align: center;"><img alt="" src="http://hoangtrangdanang.com/uploads/image/images/IMG_0174%20(FILEminimizer).JPG" style="height:371px; opacity:0.9; width:500px">&nbsp;&nbsp;<img alt="" src="http://hoangtrangdanang.com/uploads/image/images/IMG_1319%20(FILEminimizer).JPG" style="height:371px; width:495px"></div>

<div style="text-align: justify;"><br>
Đến với chúng &nbsp;tôi luôn mang đến các dịch vụ sửa chữa ô tô tốt nhất, áp dụng các công nghệ tiên tiến mới nhất, luôn đi đầu trong công cuộc đổi mới trang thiết bị cũng như không ngừng củng cố, đào tạo các kỹ thuật viên nâng cao tay nghề, đảm bảo chất lượng tuyệt đối.</div>
</div>
        </div>
    </div>
</section>